html {
    box-sizing: border-box;
  }

  *{
    font-family:'Raleway';
    box-sizing: inherit;
    margin:0px;
    padding: 0px;
  }
  
  body {
    font-family: sans-serif;
    }
    body > *:not(nav) {
      margin: 30px;
    }
    
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #FB8B24;
      margin: 0;
      width: 100%;
      padding: 10px 30px 10px 30px;
    }
    
    nav p{
      padding-left:15px;
      padding-right:15px;
      text-align: center;
      word-spacing: 10px;
      letter-spacing: 2px;
    }
    
    #nav-logo {
      max-height:60px;
      padding: 0;
      display: inline-block;
    }
    
    .nav-links {
    list-style: none;
    display: flex;
    font-size: 18px;
    }
    
    .nav-item a {
      display: inline-block;
      padding:15px;
      text-decoration: none;
      color: rgb(0, 0, 0);
    }
    
    .nav-item:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
    
    .nav-links {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
    }
    
    .nav-item {
      margin: 5px;
      display: inline-block;
    }
    
    .dropdown {
      display: none;
      position: absolute; 
      background-color: #fff; 
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
      padding: 5px;
      z-index: 1; 
    }
  
    .dropdown-content{
      list-style-type: none;
    }
    .dropdown-content a {
      display: block;
      color: #333;
    }
    
    .dropdown-content a:hover {
      color: #777;
    }

    .nav-item:hover .dropdown {
      display: block;
    }
  

  main > *:not(.tabcontent){
    padding: 0% 2% 0% 2%;
    align-self: center;
  }

  .shopname-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .shopname-container img {
    width: 50%;
    height: auto;
    margin-right: 20px;
  }

  .shopname-container h1 {
    margin: 0;
  }

  .shopname-container p{
    margin-top: 10%;
    margin-right: 60px;
  }

  .shopname-container ul{
    margin-left: 30px;
  }

  .flex-container {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-x: auto;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex-shrink: 0;
  }
  
  .image-text {
    display: block;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }
  
  .image-container img {
    max-width: 60%; 
    height: auto;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }
  
  .flex-container img:hover {
    transform: scale(1.05);
  }
  
  #Map {
    position: relative;
    width: 100%;
    height: 400px;
    text-align: center;
  }

  #Map iframe {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
   }
   
   footer p{
    text-align: center;
   }

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  animation: fadeEffect 1s;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}