@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Dawning+of+a+New+Day&family=Homemade+Apple&family=Kalnia:wght@100;200;300;400;500;600;700&family=La+Belle+Aurore&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Parisienne&family=Quicksand:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    box-sizing: border-box;
  }
  
*{
  box-sizing: inherit;
  margin:0px;
  padding: 0px;
  color: #241c14;
}

body {
  font-family: sans-serif;
}

body > :not(nav):not(footer) {
  margin: 30px; 
}

nav *, footer * {
  margin: 0;
}
  
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FEB039;
  margin: 0;
  width: 100%;
  padding: 10px 30px 10px 30px;
  display: flex;
}

nav p, #filler-lane{
  padding-left:15px;
  padding-right:15px;
  text-align: center;
  word-spacing: 10px;
  letter-spacing: 2px;
  color: #9E5D33;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
}

#filler-lane{
  color: #241c14;
  font-weight: 400;
}

#nav-logo {
  max-height:60px;
  padding: 0;
  display: inline-block;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-item a{
  margin: 2px;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  font: bold 18px 'Montserrat', sans-serif;
  color: #8C1D02;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: background 0.75s ease;
    
  
  &:hover {
    border: 2px solid transparent;  
    background-color:#ffc978;
    
  }
}

.dropdown {
  display: none;
  position: absolute; 
  background-color: #fff; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  padding: 5px;
  z-index: 1; 
}

.dropdown-content{
  list-style-type: none;
}
.dropdown-content a {
  display: block;
  font-weight: 500;
  color: #241c14;
}

.dropdown-content a:hover {
  font-weight: bold;
}

.nav-item:hover .dropdown {
  display: block;
}

/* header */
header{
  margin:3%;
  text-align: center;
}

#about{
  margin-top:40px;
  margin-bottom:70px;
}

main{
  padding: 0% 2% 0% 2%;
  align-self: center;
}

#slogan{
  padding: 10px;
  letter-spacing:  2px;
  font: 700 15px 'Afacad', sans-serif;
  text-transform: uppercase;
  border-top: 1px solid rgb(20, 12, 2);
  border-bottom: 1px solid rgb(20, 12, 2);
}

header h1{
  margin-bottom: -30px;
  text-align: center;
  font-size: 130px;
  font-family: 'La Belle Aurore', cursive;
}

header h3{
  margin: 10px;
  padding-top: 30px;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}

header p, a{
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Afacad', sans-serif;
  display: inline;
}

header a{
  text-decoration: none;
  font-weight: bold;
}

header a:hover{
  text-decoration: underline;
}

#fave-text{
  font-family: 'Afacad', sans-serif;
  margin-top: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

#fave-text h2{
  margin-bottom: 0;
  font-size:50px;
}

#fave-text h4{
  margin-top: -10px;
  font-weight: 200;
  font-size:25px;
}

.fave-container {
  padding: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  gap: 30px;
  height: 100%;
  }

  .content p{
    
    font: 500 15px 'Quicksand', sans-serif;
  }
  .content p b{
    
    font-size: 18px;
  }
.image {
  box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  border-radius: 12px;
  transition: 0.2s;
  padding: 10px;
}
.image:hover{
  transform: scale(1.05);
}
  .image a{
    text-decoration: none;
  }
.image img{
  border-radius: 8px;
  max-width: 100%;
  display: block;
}

#catalog{
  margin-top: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font: 50px 'Afacad', sans-serif;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.catalog-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.rectangle{
  background-color: #000000 ;
  position:relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin: 10px;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0,0.3);
}

.catalog-image{
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.catalog-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  transition: opacity 0.2 ease-in-out;
}

.catalog-text p{
  color: #ffffff; 
  text-shadow: 2px 2px 5px black;
}

.rectangle a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.rectangle:hover .catalog-image {
  opacity:0.5;
}

.rectangle:hover .catalog-text:hover {
  color: #fff; 
}

@media screen and (max-width: 768px) {
  .catalog-image {
      height: 150px; 
  }
}

footer{
  text-align:center;
  font-size: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: 'Afacad', sans-serif;
  background-color: #FEB039;
  margin-top: -15px;
}

  ::-webkit-scrollbar {
    width: 14px; 
    height:14px;          
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(228, 228, 228);
    border-radius: 20px;  
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(36, 28, 20);  
  border-radius: 20px;       
  border: 3px solid rgb(228, 228, 228);;  
  }
