html {
    box-sizing: border-box;
  }
  
  *{
    box-sizing: inherit;
    margin:0px;
    padding: 0px;
  }
  
  body > :not(nav):not(footer) {
    margin: 30px; 
  }
  
  nav *, footer * {
    margin: 0;
  }
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #FEB039;
      margin: 0;
      width: 100%;
      padding: 10px 30px 10px 30px;
      display: flex;
    }
    a{
        text-decoration: none;
        color:black;
    }
    nav p{
      padding-left:15px;
      padding-right:15px;
      text-align: center;
      word-spacing: 10px;
      letter-spacing: 2px;
      color: #9E5D33;
      font-weight: 700;
      font-family: 'Quicksand', sans-serif;
    }
    
    #nav-logo {
      max-height:60px;
      padding: 0;
      display: inline-block;
    }
    
    .nav-links {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
    }
    
    .nav-item a{
      margin: 2px;
      display: inline-block;
      padding: 10px 15px;
      text-decoration: none;
      font: bold 18px 'Montserrat', sans-serif;
      color: #8C1D02;
      border: 2px solid transparent;
      border-radius: 15px;
      transition: background 0.75s ease;
        
      
      &:hover {
        border: 2px solid transparent;  
        background-color:#ffc978;
        
      }
    }
    
    .dropdown {
      display: none;
      position: absolute; 
      background-color: #fff; 
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
      padding: 5px;
      z-index: 1; 
    }
    
    .dropdown-content{
      list-style-type: none;
    }
    .dropdown-content a {
      display: block;
      font-weight: 500;
      color: #241c14;
    }
    
    .dropdown-content a:hover {
      font-weight: bold;
    }
    
    .nav-item:hover .dropdown {
      display: block;
    }
  
  header{
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  }
  
  img{
    border-radius: 8px;
  }
  
  /* feature lane section  */
  .lane-feature {
  border-top: 1px solid black;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  gap: 30px;
  height: 100%;
  }
  
  h1{
    color: #FB8B24;
    font-family: 'Quicksand', sans-serif;
  }
  .feature-item {
    box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-width: 200px;
    transition: 0.2s;
    text-decoration: none;
    color:black;
    border-radius: 8px;
  }
  
  .feature-item:hover {
    transform: scale(1.04);
  }
  .feature-item a{
    text-decoration: none;
  }
  
  .feature-item-text {
    padding-top: 10px;
    color:black;
    text-align: center;
  }

  .feature-item-text p{
    font-family: 'Quicksand', sans-serif;
    color:black;
    text-align: center;
  }
  
  .feature-item img{
    border-radius: 8px;
  max-width: 100%;
  display: block;
  }
          
  
  
  /* insert something here that'll
  make the text stick to the bot
  of the div, jic the images don't 
  have equal heights.. */
  
  /* main part */
  @media (min-width: 400px){
    main{
      align-self: center;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      padding: 20px;
      }
      
      .shop-catalog{
        justify-content: center;
        display:flex; 
        flex-wrap: wrap;
        gap:20px;
      }
      .shop-catalog a{
        text-decoration: none;
        color:black;
      }
      .catalog-item-text{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
      .catalog-item{
        width: calc(100% / 3.4); 
        box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 10px;
        transition: 0.2s;
        text-decoration: none;
        color:black;
      }
      .catalog-item:hover{
        transform:scale(1.05);
      }
  
      
  }
  
  .catalog-item img{
    max-width: 100%;
  }
  
  .lane-nav-home-catalog {
    display: flex;
    align-items: center;
    font-family: 'Afacad', sans-serif;
    font-size: 20px;
  }
  
  .lane-nav-home-catalog a, .separator{
    margin-bottom: 10px;
    padding: 0px 5px;
  }

  .lane-nav-home-catalog a{
    color:#FB8B24;
    text-decoration: none;
  }
  .lane-nav-home-catalog a:hover{
    text-decoration: underline;
  }
  .separator { 
    flex:0;
  }
  
  section p, main p{
    font-family: 'Afacad', sans-serif;
  }
  section h3, main h3{
    font-family: 'Quicksand', sans-serif;
  }
  footer{
    text-align:center;
    font-size: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: 'Afacad', sans-serif;
    background-color: #FEB039;
    margin-top: -15px;
  }
  ::-webkit-scrollbar {
    width: 14px; 
    height:14px;          
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(228, 228, 228);
    border-radius: 20px;  
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(36, 28, 20);  
  border-radius: 20px;       
  border: 3px solid rgb(228, 228, 228);;  
  }